.toggle-button {
    display: flex;
    flex-direction: row;
    column-gap: 6px;

    align-items: baseline;
}

.toggle-button-switch {
    border: 3px solid transparent;
    outline: 3px solid #C00;
    height: 8px;
    width: 14px;

    cursor: pointer;
}

.toggled > .toggle-button-switch {
    outline-color: #FF0;
}

.disabled > .toggle-button-switch {
    outline-color: #999;
}

.toggle-button-switch > div {
    height: 8px;
    width: 8px;
    background: #C00;
}

.toggled > .toggle-button-switch > div {
    background: #FF0;
    float: right;
}

.disabled > .toggle-button-switch > div {
    background: #999;
}

.toggle-button-text {
    font-size: 18px;
    font-weight: 1000;
    color: #C00;
}

.toggled > .toggle-button-text {
    color: #FF0;
}

.disabled > .toggle-button-text {
    color: #999;
}
