.toggle-button {
    display: flex;
    flex-direction: row;
    column-gap: 6px;

    align-items: baseline;
}

.toggle-button-switch {
    border: 3px solid transparent;
    outline: 3px solid #CC0000;
    height: 8px;
    width: 14px;

    cursor: pointer;
}

.toggled > .toggle-button-switch {
    outline: 3px solid #ffff00;
}

.disabled > .toggle-button-switch {
    outline: 3px solid #999;
}

.toggle-button-switch > div {
    height: 8px;
    width: 8px;
    background: #CC0000;
}

.toggled > .toggle-button-switch > div {
    background: #ffff00;
    margin-left: 6px;
}

.disabled > .toggle-button-switch > div {
    background: #999;
}

.toggle-button-text {
    font-size: 18px;
    font-weight: 1000;
    color: #CC0000;
}

.toggled > .toggle-button-text {
    color: #ffff00;
}

.disabled > .toggle-button-text {
    color: #999;
}
