/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700;900&display=swap');

* {
    font-family: 'Noto Serif SC', serif;
}

body {
    height: 90vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-container {
    border: 2px solid white;
    width: 700px;
}
